<phpunit bootstrap="./bootstrap.php">
    
    <testsuite name="Application Test Suite">
        <directory>./application</directory>
    </testsuite>
    
    <testsuite name="Library Test Suite">
        <directory>./library</directory>
    </testsuite>
    
    <filter>
        <whitelist>
            <direcory surrfix=".php">../application</direcory>
            <direcory surrfix=".php">../library</direcory>
            <exclude>
                <direcory surrfix=".phtml">../application</direcory>
                <direcory surrfix=".php">../library/Bisna</direcory>
                <file>../application/Bootstrap.php</file>
            </exclude>
        </whitelist>
    </filter>
    
    <logging>
        <log type="coverage-html" target="../data/logs/report" charset="UTF-8"
        yui="true" highlight="true" lowUpperBound="50" highLowerBound="80" />
        <log type="testdox" target="../data/logs/testdox.log" />
    </logging>
    
</phpunit>
